<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themewagon.github.io/adminhmd/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Jun 2026 10:54:50 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="adminHMD professional admin dashboard template">
  <title>Dashboard | adminSK</title>

  <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/admin/css/style.css">
</head>